.ColorBox {
    display: inline-block;
    width: 20%;
    height: 25%;
    /* cursor: pointer; */
    margin-bottom: -3.5px;
}
.ColorBox-content {
    text-transform: uppercase;
}
.copy-button {
    position: absolute;
    margin-top: 5.5%;
    margin-left: 7%;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255, 0.3);
    width: 6%;
    height: 3%;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0;
}
.ColorBox:hover .copy-button {
    opacity: 1;
}
.box-color {
    position: absolute;
    margin-top: 10.3%;
    padding: 10px;
    font-size: 10px;
    letter-spacing: 0.07rem
}
.see-more {
    position: absolute;
    background-color: rgb(255, 255, 255, 0.3);
    color: white;
    cursor: pointer;
    margin-top: 10.7%;
    margin-left: 16.4%;
    width: 3%;
    padding: 4px;
    font-size: 13px;
    text-align: center;
    display: inline-block;
}
